<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <article>
            <!-- <img id="Header-Logo" src="https://cdn.pixabay.com/photo/2013/07/13/13/56/tiger-161802_960_720.png"> -->
        </article>
        <article>
            <nav>
                <a href="#random-information">Random information</a>
                <a href="#quote">Quote</a>
                <a href="#Sign-up">Sign up</a>
            </nav>
        </article>
        <article>
            <h1>A fun website</h1>
            <p>In this website you'll see amazing features</p>
            <button class="button" type="button">Sign up</button>
        </article>
        <article>
            <!-- <img src="" alt="header's image"> -->
        </article>
    </header>

    <main>
        <article id="random-information" class="main-article">
            <h1>Pretty tigers</h1>
            <article>
                <section>
                    <img src="" alt="tiger picture">
                    <p></p>
                </section>
                <section></section>
                <section></section>
                <section></section>
            </article>
        </article>
        <article id="quote" class="main-article">
            <p class="quote-text">Tigers are great. respect them!</p>
            <p class="caption">-Parsa Kalagar</p>
        </article>
        <article id="Sign-up" class="main-article">
            <article>
                <h1>Help tigers</h1>
                <p>tigers are formidable, let's help them</p>
                <button vlass="button" type="button">Sign up</button>
            </article>
        </article>
    </main>

    <footer>
        <p>contac info: <a href="https://www.linkedin.com/in/parsa-kalagar-910368150/">LinkedIn</a></p>
    </footer>
</body>
</html>